<%= form_with(url: user_path(@user.id), method: :patch, multipart: true, class: "text-center") do |f| %>
<div class="modal-body">
  <%= f.label :name, "ユーザー名" %><br>
  <%= f.text_field :name, value: "#{@user.name}" %><br>
  <%= f.label :avatar, "ユーザー画像" %><br>
  <%= f.file_field :avatar %><br>
  <% if !@user.provider %>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.text_field :email, value: "#{@user.email}" %><br>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation, "パスワード確認" %><br>
    <%= f.text_field :password_confirmation %><br>
  <% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
  <% if !@user.provider %>
    <%= f.submit "更新", class: "btn btn-primary", data: {"data-dismiss" => "modal"} %>
  <% end %>
  <%= link_to "ユーザー情報削除", user_path(@user.id), method: :delete, class: "btn btn-danger", data: { confirm: "アカウントを削除してもよろしいですか？尚、アカウントに紐づいた投稿も削除されます。" } %>
</div>
<% end %>
