<ul class="text-center p-0">
  <% if @user.provider %>
  <li>
    <img class="user_image mb-3" src="<%= @user.image %>">
  </li>
  <li>ユーザーID：　<%= @user.id %></li>
  <li>ユーザー名：　<%= @user.name %></li>
  <li><%= @user.provider %>のアカウントでログインしています。</li>
  <% else %>
  <li>
    <img class="user_image mb-3" src="<%= "/user_image/#{@user.image}" %>">
  </li>
  <li>ユーザーID：　<%= @user.id %></li>
  <li>ユーザー名：　<%= @user.name %></li>
  <li>登録メールアドレス：　<%= @user.email %></li>
  <% end %>
</ul>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
  <% if @current_user.id == @user.id %>
    <%= link_to("編集", edit_user_path(@user.id), remote: true, "btn btn-primary") %>
  <% end %>
</div>
