<ul class="text-center p-0">
  <% if @user.provider %>
  <li>
    <img class="user_image mb-3" src="<%= @user.avatar %>">
  </li>
  <li>ユーザーID：　<%= @user.id %></li>
  <li>ユーザー名：　<%= @user.name %></li>
  <li><%= @user.provider %>のアカウントでログインしています。</li>
  <% else %>
  <li>
    <% if @user.avatar.attached? %>
      <%= image_tag(@user.avatar, :class => "user_image mb-3") %>
    <% end %>
    <% if @user.image %>
      <%= image_tag("/user_image/#{@user.image}", :class => "user_image mb-3") %>
    <% end %>
  </li>
  <li>ユーザーID：　<%= @user.id %></li>
  <li>ユーザー名：　<%= @user.name %></li>
  <li>登録メールアドレス：　<%= @user.email %></li>
  <% end %>
</ul>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
  <% if @current_user.id == @user.id %>
    <%= link_to("編集", edit_user_path(@user.id), remote: true, class: "btn btn-primary") %>
  <% end %>
</div>
