<div id="post_<%= post.id %>">
  <p><%= User.find_by(id: post.user) %></p>
  <p><%= post.content %></p>
  <p><%= post.created_at %></p>
  <%= link_to("削除", "/posts/#{post.id}", method: :delete, remote: true) %>
</div>
